html, body {
    margin: 0;
    background-color: rgb(231,231,231);
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
}

p {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    font-size: 1.3em;
    background: #e7e7e7;
    line-height: 1.5;
    color: #5d5d5d;
}

h1 {
    font-family: 'Open Sans', 'Helvetica';
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 2.5em;
    color: #303030;
    line-height: 0.9;
    text-align: center;
    margin-bottom: -0.1em;
}

h3 {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 0.75em;
    color: #8d8d8d;
}

b {
  font-weight: 900;
  color: #404040;
}

a {
    color: #999;
    text-decoration: none;
    transition: color .2s ease;
}
    a:hover {
        color: #f33;
    }

#container{
    margin-top: 35px;
}

footer {
    width: 100%;
    position:absolute;
    bottom:0;
    text-align: center;
    font-size: 12px;
    color: #9d9d9d; 
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    padding: 10px;
}

#row {
    display: block;
}


hr {
    margin-top: 3em;
}

ul {
   margin-top: 2em;
   color: #8d8d8d; 
}

a {
    color: #4a49dd;
    font-weight: 100;
}

img {
    display: block;
    margin: auto;
}

.card {
    margin-top: 3em;
}

.card-text {
    background-color: white;
    font-size: 14px;
}


