html, body {
    margin: 0;
}

body {
	font-family: 'Menlo', sans-serif;
	color: #333;
}

h1 {
	font-size: 1em;
}


#container{
	padding: 3em;
}

.icn{
	height: 35px;
	filter: invert(50%);
}

#rainbow {
    height: 10px;
    width: 100%;
   background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*RAINBOW*/
/*background-image: linear-gradient(to right,#73D2F6,#08C 22%,#7FC400 36%,#FFD583 48%,#FFB21E 63%,#FF4D4D 76%,#503873);*/

.card {
	margin: 5px;
}